.todo-list {
  padding: 20px 10px 10px 20px;
}

.add-view {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    flex: 1;
    height: 30px;
  }

  button {
    width: 130px;
    line-height: 1.6;
    background-color: #0BBC0F;
    color: white;
  }

  .add-btn-active {
    background-color: #0BC80B;
  }
}

.list-content {
  margin-top: 20px;
}

.todo-item {
  padding: 20px 0;
}
